<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extars-springsecurity5"
>
<head th:replace="fragments :: page_header('index')"/>

<body class="container-fluid">
<div th:replace="navigation ::  menu"/>
<div>
    <h2>Shopme Control Panel</h2>
    Welcome
    <a th:href="@{/account}" sec:authentication="principal.fullName"></a>
    <span sec:authentication="principal.authorities"></span>
</div>
<div class="text-center" th:replace="fragments :: footer" />

</body>
</html>